@import '../../styles/variables';

@media screen and (min-width: 360px) {
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;

    &__top {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & p {
        margin: 0;
        padding: 0 5rem;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 500;
        color: $color-grey;
      }
      &__form {
        margin-top: 2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        & label {
          width: calc(100% - 1.2rem);
          margin: 0.5rem 0;
          text-align: left;
          font-weight: bold;
        }
        & input {
          width: calc(100% - 1.2rem);
          margin: 0.5rem 0;
          height: 2.6rem;
          border: none;
          background-color: $color-grey-light;
        }
      }
    }
    &__bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 1rem;
      a {
        margin: 1rem 0;
      }
    }
  }
}
